

extends layout
block content
  h1 Listing users
    table
      thead
        tr
          th Name
          th Email
          th Description
      tbody    
        - for user in users
          tr
            td #{user.doc.name} 
            td #{user.doc.email} 
            td #{user.doc.des} 
    br

  a(href="users/new") Add New User
